@import 'variables';
@charset "utf-8";

@media (max-width: 1389px){
	.single_search{
		.inner-post {
			.inner-author {
				bottom: -21%;
			}
		}
	}
	.single_author{
		.inner-post {
			.inner-author {
				bottom: -21%;
			}
		}
	}
	.single_category{
		.inner-post {
			.inner-author {
				bottom: -21%;
			}
		}
	}
}

@media (max-width: 1199px){
	.header-container{
		ul{
			li{
				margin: 2rem 0.8rem;
			}
		}
	}
	.inner-post {
		.inner-author {
			bottom: 10%;
		}
	}
	.single_search{
		.horizontal-saperator-left-side::before{
			border-left: none;
		}
		.inner-post {
			.inner-author {
				bottom: -15%;
			}
		}
	}
	.single_author{
		.horizontal-saperator-left-side::before{
			border-left: none;
		}
		.inner-post {
			.inner-author {
				bottom: -15%;
			}
		}
	}
	.single_category{
		.horizontal-saperator-left-side::before{
			border-left: none;
		}
		.inner-post {
			.inner-author {
				bottom: -15%;
			}
		}
	}
	.member, .author {
		margin: 5px 0;
		padding: 5px;
	}
}
@media (max-width: 991px) {
	//genearal classes
	h2{
		font-size: 3rem;
	}
	h3{
		font-size: 2rem;
	}
	h4{
		font-size: 1.7rem;
	}
	h5{
		font-size: 1.3rem;
	}
	p{
		font-size: 1rem;
	}
	section{
		padding: 3rem 0;
	}
	a{
		font-size: 1rem;
	}
	.a-h3{
		font-size: 2rem;
	}
	.main_button{
		font-size: 1.3rem;
	}
	.subscription_form{
		input{
			font-size: 1.5rem;
		}
	}
	.second_button{
		margin-right: 0;
		font-size: 1.5rem;
	}
	.mobile_view{
		h2{
			position: absolute;
			text-align: center;
			top: 10%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// boostrap classes
	.mt-10{
		margin-top: 3rem;
	}
	.inner-post {
		.inner-author {
			bottom: -8%;
		}
	}
	.nav-link{
		font-size: 3rem !important;
	}
	#order-list-podcast li::marker{
		font-size: 3rem;
	}
	// mobile menu
	.hamburger{
		padding: 0px!important;
		position: relative;
		display: block !important;
		margin-right: auto !important;
		opacity: 1 !important;
		background-color: transparent;
		border: none;
		margin-top: 1rem;
	}
	.hamburger--collapse{
		display: block;
	}
	.hamburger_menu_icon{
		position: relative;
		width: 25px;
		z-index: 15;
		.line{
			display: block;
			height: 2px;
			width: 100%;
			background-color: #000;
			margin-bottom: 6px !important;
			position: relative;
			transform-origin: center;
			transition: cubic-bezier(0.32, 0.17, 0, 1) .5s;
			border-radius: 20px;
		}

	}
	.menu_mobile_nav.active{
		.hamburger_menu_icon{
			.line:first-child{
				transform: rotate(45deg) translate(5.5px, 5.5px);
				background-color: #000;
				height: 2px;
			}
			.middle_line{
				transform: translateX(-200px);
				background-color: #000;
				height: 2px;
			}
			.line:last-child{
				transform: rotate(-45deg) translate(5.5px, -5.5px);
				background-color: #000;
				height: 2px;
			}
		}
	}
	.menu_on_mobile{
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0px;
		right: 0px;
		transform: translateX(100vw);
		transition: cubic-bezier(0.32, 0.17, 0, 1) 1s;
		background-color: white;
		text-align: right;
		font-size: 20px;
		text-align: center;
		z-index: 10;
		//  G
		// padding-top: 30px;
		// top: 59px;
		padding: 0px 30px;
		//  End G
		.page_font{
			font-family: $lalezar-regular;
			font-size: 22px;
			margin-bottom: 10px;
		}
		.search_icon{
			margin-bottom: 15px;
			padding-bottom: 20px;
			margin-top: 10px;
		}
		.social_media{
			font-family: $lalezar-regular;
			font-size: 18px;
			margin-bottom: 10px;
			display: inline-block;
		}
		// .social_media:hover{
		// 	border-bottom: 1px solid black;
		// }
	}
	.menu_on_mobile.active{
		transform: translateX(0%);
		transition: cubic-bezier(0.32, 0.17, 0, 1) 0.5s;
		position: fixed;
		// box-shadow: -30px 0px 120px 40px rgba(0, 0, 0, 0.6);
	}
	@mixin animate_menu_items {
		@for $i from 1 through 13 {
			&:nth-child(#{$i}) {
				transition: all .8s #{0.2 + $i * .06}s cubic-bezier(0.32, 0.17, 0, 1);
			}
		}
	}
	.menu_on_mobile{
		.menu_on_mobile_wrapper{
			display: table;
			width: 100%;
			height: 100vh;
			position: relative;
			.menu_on_mobile_inner_wrapper{
				display: table-cell;
				vertical-align: middle;
				height: 100%;
				width: 100%;
				.animated_menu_el{
					transition: 0.5s;
					transform: translateX(30px);
					opacity: 0;
					// added by mike
					.menu_item {
						display: inline-block;
						cursor: pointer;
					}
					.menu_item-request-demo{
						display: inline-block;
						cursor: pointer;
					}
				}
				.active_page {
					border-bottom: 2px solid black;
				}
				.page_font{
					font-family: $lalezar-regular;
					font-size: 18px;
					color: #000;
				}
				.request-demo-font{
					background: #889592;
					box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
					border-radius: 45px;
					padding: 4px 20px;
					color: #fff;
				}
				.industries-dropdown{
					cursor: pointer;
					margin-bottom: 0px;
					.menu_item_main{
						margin-bottom: 1rem;
					}
					.dropdown-sub-industries{
						font-size: 20px;
						text-align: center;
						transition: opacity .5s ease-in;
						opacity: 0;
						height: 0;
						overflow: hidden;
					}
				}
				.industries-dropdown.active{
					.menu_item_main{
						margin-bottom: 0rem;
					}
					.dropdown-sub-industries{
						padding: 1rem 0rem;
						opacity: 1;
						height: auto;
					}
				}
				.followUs-class{
					position: absolute;
					bottom: 0;
					transform: translateX(30px);
					transition: 0.5s;
					opacity: 0;
					right: 50%;
					.title{
						font-size: 10px;
						line-height: 12px;
						font-family: $lalezar-regular;
						color: #000;
						text-align: center
					}
					ul{
						display: flex;
						li{
							display: inline-block;
							margin-right: 25px;
						}
						li:last-child{
							margin-right: 0px
						}
					}
				}
			}
		}
		.menu_on_mobile_wrapper.submenu-active{
			height: 130vh;
		}
	}
	.menu_on_mobile.scroll_in_mobile_menu{
		overflow-y: auto !important;
	}
	.menu_on_mobile.active{
		.menu_on_mobile_wrapper .menu_on_mobile_inner_wrapper .animated_menu_el{
			@include animate_menu_items;
			transform: translateX(0px);
			opacity: 1;
		}
		.menu_on_mobile_wrapper .menu_on_mobile_inner_wrapper .animated_menu_el_follow_us{
			@include animate_menu_items;
			transform: translateX(50%);
			opacity: 1;
		}
	}
	#el_logo_mobile{
		margin-top: auto;
		margin-left: 20px;
		position: relative;
		.dropdown-menu{
			position: absolute;
			right: 0;
			bottom: 0;
			transform: translate(32%, 100%);
			background: #FFFFFF;
			box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 20px;
			height: 0%;
			transition: 0.4s;
			width: 400px;
			display: none;
			padding: 0;
			.menu_subtitle{
				padding: 20px;
				padding-bottom: 20px;
				display: block;
				.menu_col_title{
					font-family: $lalezar-regular;
					font-weight: bolder;
					font-size: 15px;
					line-height: 18px;
					color: $main_color;
					padding-bottom: 20px;
				}
				.menu_col_inner_items{
					display: block;
					.menu_item{
						display: block;
						font-family: $lalezar-regular;
						font-size: 12px;
						line-height: 15px;
						color: $main_color;
						margin-bottom: 3px;

					}
					.menu_item_underline{
						font-style: italic;
						text-decoration: underline;
						line-height: 12px;
						font-size: 10px;
						margin-top: 15px;
					}
				}
			}
			.menu_side_subtitle{
				padding: 20px;
			}
			.right-side-menu{
				background: #D9D9D9;
				box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
			}
			.line_animation:after, .line_animation:visited:after {
				content: '';
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0%;
				background: #000;
				transition: .2s;
			}
			.line_animation, .line_animation:visited {
				text-decoration: none;
				position: relative;
				color: #000;
			}
			.line_animation:hover:after, .line_animation:visited:hover:after{
				width: 100%;
			}
		}
		.dropdown-menu.active{
			height: auto;
			display: block;
		}
		.dropdwon-menu-logo{
			width: 300px;
			transform: translate(0%, 100%);
			.menu_subtitle{
				.menu_col_inner_items{
					li{
						padding-bottom: 20px;
					}
				}
			}
		}
	}
	#el_logo_mobile:hover {
		.subnav_clickable_el_logo{
			border-radius: 100%;
			color: black;
			.inner-text-border-animation::after{
				width: calc(100% - 2px);
			}
		}
		.dropdown-menu{
			height: auto;
			display: block;
		}
	}
	.mobile_logo{
		width: 3.5rem;
		height: 3.5rem;
	}
	.logo{
		width: 3.5rem;
		height: 3.5rem;
	}
	// footer classes
	.main_footer_section{
		.first-section {
			display: flex;
			justify-content: space-between;
			align-items: start;
			width: 100% !important;
			li {
				a{
					font-size: 1.5rem;
				}
			}
			li:first-child{
				margin-right: 0;
				margin-top: auto;
			}
			li:last-child{
				margin-left: 0;

			}
		}
		.second-section{
			li {
				font-size: 1.5rem;
			}
		}
		.subscription{
			h5{
				font-size: 2rem;
			}
		}
	}
	.nav-pills {
		span{
			margin: 0rem 2.5rem;
		}
	}
	.about-us{
		h1{
			font-size: 35px;
			text-align: center;
		}
		p{
			font-size: 25px;
		}
	}
	.member, .author {
		margin: 15px;
		padding: 15px;
	}
}
@media (max-width: 767px){
	.inner-post {
		.inner-author {
			bottom: -10%;
		}
	}
	.horizontal-saperator-left-side{
		border-right: none;
		border-bottom: 1px solid #000;
	}
	// footer classes
	.main_footer_section{
		.first-section {
			li {
				margin: 0 1rem;
				a{
					font-size: 1rem;
				}
			}
			li:first-child{
				margin-right: 0;
			}
			li:last-child{
				margin-left: 0;
			}
		}
		.second-section{
			li {
				a{
					font-size: 1rem;
				}
			}
		}
		.subscription{
			h5{
				font-size: 1.5rem;
			}
		}
	}
	.about-us{
		h1{
			font-size: 30px;
			text-align: left;
		}
		p{
			text-align: left;
			font-size: 20px;
		}
	}
	#order-list-podcast{
		padding: 0 0 0 3rem;
	}
	.member, .author{
		margin: 15px;
		padding: 10px;
	}
}
@media (max-width: 575px){
	//genearal classes
	h2{
		font-size: 2rem;
	}
	h3{
		font-size: 1.5rem;
	}
	h4{
		font-size: 1.35rem;
	}
	h5{
		font-size: 1rem;
	}
	p{
		font-size: 0.8rem;
	}
	a{
		font-size: 0.8rem;
	}
	.a-h3{
		font-size: 1.5rem;
	}
	section{
		padding: 2rem 0;
	}
	.main_button{
		font-size: .9rem;
	}
	.subscription_form{
		input{
			font-size: 1rem;
		}
	}
	.second_button{
		font-size: 1rem;
	}
	.mt-10{
		margin-top: 2.5rem;
	}
	.nav-link{
		font-size: 2rem !important;
	}
	.inner-post {
		.inner-author {
			bottom: -6%;
			img{
				width: 70px;
				height: 70px;
			}
		}
	}
	#order-list-podcast li::marker{
		font-size: 2rem;
	}
	.nav-pills {
		span{
			margin: 0rem 1.5rem;
		}
	}
	.about-us{
		h1{
			font-size: 25px;
		}
		p{
			font-size: 17px;
		}
	}
}
@media (max-width: 500px) {
	.inner-post {
		.inner-author {
			bottom: -9%;
		}
	}
	#order-list-podcast{
		padding: 0 0 0 2rem;
		list-style-position: outside;
	}
	.subscription_form input {
		padding: 0.35rem .9rem;
	}
}
@media (max-width: 400px){
	.inner-post {
		.inner-author {
			bottom: -11%;
		}
	}
	.nav-pills {
		span{
			margin: 0rem .5rem;
		}
	}
}
@media (max-width: 470px){
	.single-post-page{
		.inner-author{
			img{
				width: 80px;
				height: 80px;
			}
		}
	}
}
@media (max-width: 400px){
}
@media (max-width: 440px){
}
@media (max-width: 350px){
}
@media (min-width: 1390px) {
	/* change this, by default 1140px */
	.container {
		max-width: 1360px;
	}
}